/* game board table */

#board td {
  width: 8rem;
  height: 7rem;
  border: solid 3px rgba(0, 0, 0, 0.164);
  background-color: rgba(255, 253, 253, 0.164);
  border-radius: 100%;
}

/* pieces are div within game table cells: draw as colored circles */

.piece {
  /* TODO: make into circles */
  position: absolute;
  margin: auto;
  width: 90%;
  height: 90%;
  border-radius: 100%;
}

.pieceContainer {
  position: relative;
}
/* TODO: make pieces red/blue,  depending on player 1/2 piece */

/* column-top is table row of clickable areas for each column */

#column-top td {
  border: dashed 1px black;
  border-radius: 100%;
  text-align: center;
  font-size: 200%;
  font-weight: 200;
}

#column-top.player1Turn td:hover {
  height: 80%;
  background-color: red;
}
#column-top.player2Turn td:hover {
  background-color: rgb(2, 2, 119);
}

body {
  background-color: rgb(163, 224, 221);
}
h1 {
  display: flex;
  justify-content: center;
  font-size: 5em;
}
#game {
  display: flex;
  justify-content: center;
  align-content: center;
}

.p1 {
  background-color: red;
}

.p2 {
  background-color: rgb(2, 2, 119);
}
#gameBoard {
  border: solid 5px rgb(128, 126, 126);
  background-color: blue;
  width: fit-content;
  border-radius: 1rem;
  padding: 15px;
}
#newGame {
  display: flexbox;
  align-content: center;
  justify-content: center;
  text-align: center;
}

#newGameButton {
  text-align: center;
  padding-bottom: 1rem;
  padding-top: 1rem;
  font-size: 1.5rem;
  border-radius: 1rem;
}

#displayPlayer {
  display: flex;
  align-content: center;
  justify-content: center;
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 0.3rem;
}
